* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddddeb;
    opacity: 0.8;
    background-image:  radial-gradient(#b1b82a 1.6px, transparent 1.6px), radial-gradient(#b1b82a 1.6px, #ddddeb 1.6px);
    background-size: 64px 64px;
    background-position: 0 0,32px 32px;
}

h1 {
    text-transform: uppercase;
    font-size: 30px;
}

.head {
    max-width: 350px;
    border: 5px solid #a6a6a6;
    margin: auto;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;  
    background-color: #f2f2f2; 
}

.score {
    font-size: 30px;
    margin-top: 10px;
}

.container {
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    margin: auto;
    padding: 10px;
}

.cell div {
    height: 130px;
    border-radius: 4px;
}

.cell {
    position: relative;
    cursor: pointer;
}

.front {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #a6a6a6;
    background-color: #f2f2f2;
    transform: rotateY(90deg); 
}

.back {
    background-color: #333;
}

img {
    height: 120px;
    width: 105px;
}

.flip {
    transform: rotateY(0deg);
}

.match {
    transform: rotateY(0deg);
}

.show {
    transform: rotateY(0deg);
}

/* Footer and social media icons */
footer {
	position: center;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 30px;
	color: #333;
}

.social-icons {
	color: #333;
	font-size: 2rem;
	padding: 20px;
	margin-bottom: 20px;
}

.social-icons:hover {
	color: #b1b82a;
}


@media screen and (min-width: 770px){
.head {
    max-width: 760;
}

.container {
    grid-template-columns: repeat(4, auto);
}

img {
    height: 100px;
    width: 105px;
}


.cell div {
    height: 170px
}
}



